.wrapper{
    padding: var(--space-xl) 0;
    background-color: var(--gray-10);
    line-height: 200%;
}
.flexContain {
    composes: spaceBetween from 'styles/utils.module.css';
}
.wrapper a, .flexContain a{
    text-decoration: none;
    color: black;
}

.wrapper a:hover, .flexContain a:hover{
    text-decoration: none;
    color: #f08080;
}