/* ||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||Navbar|||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* overpass-700 - vietnamese_latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url('https://static.igem.wiki/teams/4247/wiki/fonts/overpass-v12-vietnamese-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('https://static.igem.wiki/teams/4247/wiki/fonts/overpass-v12-vietnamese-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('https://static.igem.wiki/teams/4247/wiki/fonts/overpass-v12-vietnamese-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('https://static.igem.wiki/teams/4247/wiki/fonts/overpass-v12-vietnamese-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('https://static.igem.wiki/teams/4247/wiki/fonts/overpass-v12-vietnamese-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('https://static.igem.wiki/teams/4247/wiki/fonts/overpass-v12-vietnamese-latin-700.svg#Overpass') format('svg');
  /* Legacy iOS */
}

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.igem.wiki/teams/4247/wiki/fonts/source-sans-pro-v21-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('https://static.igem.wiki/teams/4247/wiki/fonts/source-sans-pro-v21-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('https://static.igem.wiki/teams/4247/wiki/fonts/source-sans-pro-v21-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('https://static.igem.wiki/teams/4247/wiki/fonts/source-sans-pro-v21-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('https://static.igem.wiki/teams/4247/wiki/fonts/source-sans-pro-v21-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('https://static.igem.wiki/teams/4247/wiki/fonts/source-sans-pro-v21-latin-regular.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}

.menu * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu h1, .menu h2, .menu h3, .menu h4 {
  font-family: 'Overpass';
}

.menu p {
  font-family: 'Source Sans Pro';
  font-size: 1.2rem;
}

.menu figcaption {
  font-size: 1rem;
  margin: 0 auto 1% auto;
  text-align: center;
  max-width: 70%;
}

.menu i {
  margin: auto 0 auto auto;
}

.page-links {
  text-decoration: underline;
  color: #000;
}

.page-links:hover {
  text-shadow: 0 0.05rem grey;
  font-weight: bold;
}

.references-list {
  text-decoration: none;
  color: #000;
}

.menu {
  position: sticky;
  top: 0%;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0px 0.3125rem 0.625rem rgb(0 0 0 / 20%);
  justify-content: space-between;
  z-index: 2;
}

.identity {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  max-width: 30%;
}

.identity>p {
  margin: auto auto auto 0.5rem;
}

.nav-icon {
  display: none;
  width: 70%;
}

.navbar {
  display: flex;
  align-items: center;
}

.dropbutton>a,.dropdown-items>a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
}

.navbar-items {
  position: relative;
  margin: 0.25rem 0;
  cursor: pointer;
}

.navbar-items:hover>.dropbutton, .dropbutton:hover, .dropbutton:hover>a {
    background-color:hsla(225, 40%, 18%,1);
    color: white;
    border-radius: 0.5rem;
}

.dropbutton {
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 100%;
  background-color: transparent;
  border:0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.navbar-dropdown {
  opacity: 0;
  position: absolute;
  transform: translateY(-0.625rem);
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
  border-radius: 0.625rem;
  z-index: 3;
  pointer-events: none;
}

.navbar-items:last-child>.navbar-dropdown {
  right: 0%;
}


.navbar-items.active > .navbar-dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  transition: opacity 500ms ease-in-out, transform 150ms ease-in-out;
}

.navbar-items.active>.dropbutton {
  background-color:hsla(225, 40%, 18%,1);
  color: white;
  border-radius: 0.5rem;
  transition: all 150ms ease-in-out;
}

.dropdown-items a {
  color: black;
  padding: 0.75rem 1rem;
  display: block;
}

.dropdown-items a:hover {
  background-color: #c8c8c8;
  border-radius: 0.625rem;
  transition: background-color 150ms ease-in-out;
}

@media screen and (max-width: 994px) {
  .team-name {
    display:none;
  }

  .nav-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  }
  .navbar {
    display: none;
  }
  .navbar.responsive {
    display: block;
    width: 100%;
  }
  .dropbutton, .navbar-items,.navbar-items:hover, .navbar-dropdown, .navbar-dropdown a:hover, .dropbutton:hover, 
  .navbar-items.active > .dropbutton,.navbar-items:hover > .dropbutton {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .dropbutton {
    background-color: hsla(225, 40%, 18%,1);
    color: white;
    padding: .8rem;
    font-size: 1rem;
    cursor: pointer;
  }

  .navbar-dropdown {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: none;
    border-radius: 0;
    z-index: 1;
    pointer-events: none;
    text-align: center;
  }
  .navbar-items.active > .dropbutton + .navbar-dropdown {
    opacity: 1;
    display: block;
    transform: translateY(0);
    pointer-events: auto;
    transition: opacity 500ms ease-in-out;
  }
}